{% extends "base.html" %} {% block content %}

<script src="https://js.stripe.com/v3/"></script>
<button id="checkout-button">Checkout</button>
<script>
  var stripe = Stripe("pk_test_51OYxJ9Lm9OPSjKRDMWFWdIOWPeqsBGHVCTH7xLPY2iq8eLlINCunpWVkWBZN0QgKaEv5xgKmAplHZEpxI6y5GWVD00tcm00yQx");
  var checkoutButton = document.getElementById("checkout-button");

  checkoutButton.addEventListener("click", function () {
    fetch("/stripe/create-checkout-session/", {
      method: "POST",
    })
      .then(function (response) {
        return response.json();
      })
      .then(function (session) {
        console.log(session);
        return stripe.redirectToCheckout({ sessionId: session.id });
      })
      .then(function (result) {
        if (result.error) {
          alert(result.error.message);
        }
      })
      .catch(function (error) {
        console.error("Error:", error);
      });
  });
</script>
{% endblock %}
